@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

:root {
  --first-color: hsl(248, 74%, 58%);
  --black-color: hsl(248, 24%, 10%);
  --white-color: #fff;
  --body-color: hsl(248, 100%, 99%);

  --body-font: 'Raleway', sans-serif;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --small-font-size: 0.875rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-inline: 6rem 1rem;
  padding-block: 2rem;
}

.nav {
  position: fixed;
  inset: 0;
  width: max-content;
  height: max-content;
  margin-block: auto;
  z-index: 1;
}

.nav__list {
  display: grid;
  justify-content: center;
  row-gap: 2rem;
  padding: 4rem 1.5rem;
  border-radius: 0 51px 51px 0;
  background-color: var(--first-color);
}

.nav__link {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.nav__link i {
  font-size: 1.25rem;
  padding: 0.3rem;
  color: var(--white-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.nav__link:hover .nav__name {
  opacity: 1;
  transform: translateX(4rem);
}

.nav__name {
  position: absolute;
  transform: translateX(5rem);
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, transform 0.5s;
}

.nav__circle-1,
.nav__circle-2 {
  position: absolute;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background-color: var(--body-color);
  z-index: 100;
}

.nav__circle-1 {
  top: -3.25rem;
}
.nav__circle-2 {
  bottom: -3.25rem;
}

.nav__square-1,
.nav__square-2 {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--first-color);
  z-index: 10;
}

.nav__square-1 {
  top: -1.5rem;
}
.nav__square-2 {
  bottom: -1.5rem;
}

.active-link i {
  color: var(--first-color);
  background-color: var(--white-color);
}
